<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body>
    <table border="1">
      <tr>
      <th><%= t(:fact) %></th>
      </tr>
      <% @answered.each do |fact| %>
      <tr class=<%= cycle('even', 'odd') %>>
      <td><%= fact %></td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
