<h1><%= t(:searching) %> - <%= @searched %></h1>
<%= form_tag("/", method: "get") do %>
  <%= label_tag(:searched, t(:searchfor)+':') %>
  <%= text_field_tag(:searched) %>
  <br>
  <%= label_tag(:email, t(:sendme)+':') %>
  <%= email_field_tag (:email) %>
  <br>
  <%= submit_tag(t(:search)) %>
<% end %>
<% if (@answered.nil?) %>
<p> <h2><%= t(:nofacts) %></h2></p>
<p> <%= t(:tryrandom) %>:</p>
<%= @fact %>
<br>
<%= form_tag("/", method: "get") do %>
<br>
<%= submit_tag(t(:trymore)) %>
<% end %>
<% else %>
<table border="1">
<tr>
<th><%= t(:fact) %></th>
</tr>
<% @answered.each do |fact| %>
<tr class=<%= cycle('even', 'odd') %>>
<td><%= fact %></td>
</tr>
<% end %>
</table>
<%= will_paginate @answered %>
<% end %>